@import '../globalStyles.scss';


.DefaultLayoutContainer{

    background-color: $gray3;
    height: 100vh;

    .DefaultLayout {
        display:flex;
        flex-direction: column;
        max-width: 1120px;
        margin: 0 auto;
    
    }

}
