@import "../globalStyles.scss";

.PortalContainer {
    z-index: 10;
    inset: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);

    .Closer {
        margin: 0;
        padding: 0;
    }

    button {
        border: none;
        outline: none;
        flex: 1;
        padding: 12px 20px;
        border-radius: 4px;
        background-color: $gray3;
        color: $gray6;
    }

    .portalWrapper {
        width: 23rem;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 20px;
        background-color: $gray2;
        border-radius: 4px;
        position: absolute;

        .portalCloser {
            position: absolute;
            right: 20px;
            top: 20px;
            color: $white;
            cursor: pointer;
        }

        .portalTitle {
            color: $gray7;
        }

        .portalInputDiv {
            display: flex;
            flex: column;
            flex-wrap: wrap;
            gap: 10px;

            input {
                color: $gray6;
                width: 100%;
                padding: 12px;
                border-radius: 6px;
                background-color: $gray1;
                color: gray4;
                outline: none;
                border: none;
                &:focus {
                    outline: $gray7 1px solid;
                }
            }
        }
        .portalButtonDiv {
            display: flex;
            gap: 8px;

            button {
                display: flex;
                text-align: center;
                justify-content: center;
                gap: 4px;
                &:hover {
                    background-color: $gray4;
                }
                &.selected {
                    color: $white;
                    .arrow {
                        color: $white;
                    }
                }
            }

            .buttonOut {
                .arrow {
                    color: $red;
                }
                &.selected {
                    background-color: $red-dark;
                }
            }
            .buttonIn {
                .arrow {
                    color: $green-light;
                }
                &.selected {
                    background-color: $green-light;
                }
            }
        }

        .portalSignIn {
            width: 100%;
            margin: 0;
            background-color: $green-light;
            color: $white;
        }
    }
}
