@import "../globalStyles.scss";

.PortalContainer {
    inset: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);

    button {
        border: none;
        outline: none;
        flex: 1;
        padding: 10px 20px;
        border-radius: 4px;
        background-color: $gray4;
        color:$gray6;
    }

    .portalWrapper {
        width: 23rem;
        display: flex;
        flex-direction: column;
        padding:30px;
        gap: 20px;
        background-color: $gray2;
        border-radius: 4px;

        h1 {
            color: $gray7;
        }

        .portalInputDiv {
            display: flex;
            flex: column;
            flex-wrap: wrap;
            gap: 10px;

            input {
                width: 100%;
                padding: 12px;
                border-radius: 6px;
                background-color: $gray1;
                color: gray4;
                outline: none;
                border: none;
            }
        }
        .portalButtonDiv {
            display: flex;
            gap: 8px;

            button{
                display:flex;
                text-align: center;
                justify-content: center;
                gap:4px;
            }

            .buttonOut {
                &:hover{
                    background-color: $red-dark;
                }
            }
            .buttonIn {
                &:hover{
                    background-color: $green-dark;
                }
            }
        }
    }
}
