@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Green
$green-dark: #015f43;
$green: #00875f;
$green-light: #00b37e;
//Red
$red-dark: #aa2834;
$red: #f75a68;
//Gray
$gray1: #121214;
$gray2: #202024;
$gray3: #29292e;
$gray4: #323238;
$gray5: #7c7c8a;
$gray6: #c4c4cc;
$gray7: #e1e1e6;
$white: #fff;

//Components

.input {
    padding: 16px;
    background-color: $gray1;
    border: none;
    border-radius: 6px;
    color:$gray6;

    &::placeholder{
        color:$gray5;
    }

    &:active {
        outline: 1px solid $green-light;
    }

    &.error {
        outline: 1px solid $red;
    }
    &:focus {
        outline: 1px solid $green-light;
    }
}

.selectionButton {
    margin: 0 8px;
    padding: 16px 24px;
    background-color: $gray3;
    color: $gray6;

    &.selected {
        color: $white;
    }

    &.in {
        background-color: $green-dark;
    }

    &.out {
        background-color: $red-dark;
    }
}

.search {
    background-color: transparent;
    outline: 1px solid $green-light;
    border-radius: 6px;
    color: $green-light;
    border: none;

    &:hover {
        background-color: $green-light;
        color: $white;
        cursor: pointer;
    }
}

.btn {
    background-color: $green;
    border: 1px solid $green;
    border-radius: 6px;
    color: $white;

    &:hover {
        background-color: $green-light;
        border-color: $green-light;
    }

    &.sm {
        padding: 8px 16px;
    }

    &.md {
        padding: 12px 20px;
    }

    &.lg {
        padding: 16px 32px;
    }
}

//Font - 14,16,20,24,32 //Regular and bold

.headNumbers {
    font-weight: bold;
    font-size: 2rem;
    line-height: 160%;
    color: $gray7;
}

.title {
    font-size: 1.6rem;
    line-height: 160%;
    color: $gray7;
}

//<ArrowCircleUp size={32} />
//<ArrowCircleDown size={32} />
//<CurrencyDollar size={32} />
//<X size={32} />
//<TagSimple size={32} />
//<CalendarBlank size={32} />
//<CaretRight size={32} />
//<CaretRight size={32} />
//<MagnifyingGlass size={32} />
